# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

.DS_Store
.vscode/
.idea/
vendor/

# AI context
.aider*

calendar-events.json
*.bak


# Playwright stuff
node_modules/
**/test-results/
**/playwright-report/
.last-run.json
**/storageState.json
tests/state/
tests/test-results/
tests/playwright-report/
fsbhoa-calendar.zip

